{% extends 'dashboard.html' %}

{%block content%}

<h1 class="mt-5">Historial de precios del componente</h1>

<table class="table mt-5">
    <thead>
      <tr>

        <th scope="col">Fecha</th>
        <th scope="col">Precio</th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">03/02/2024</th>
        <td>20.000$</td>

      </tr>
      <tr>
        <th scope="row">20/04/2024</th>
        <td>25.000$</td>

      </tr>
      <tr>
        <th scope="row">18/05/2024</th>
        <td>40.000$</td>

      </tr>
    </tbody>
  </table>

{%endblock%}