{% extends 'dashboard.html' %}

{%block content%}

<div class="text-center">
  <h1>Historial de precios del componente</h1>
</div>


<h1 class="mt-5"> Productos</h1>
<table class="table mt-5">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Precio Actual</th>
    </tr>
  </thead>
  {% for product in products %}
  <tbody>
    <tr>
      <td>{{ product.nombre }}</td>
      <td>{{ product.precio }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>


<h1 class="mt-5">Históricos</h1>
<table class="table mt-5">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Precio</th>
      <th scope="col">Fecha</th>
    </tr>
  </thead>
  {% for precio in precios %}
  <tbody>
    <tr>
      <td>{{ precio.nombre }}</td>
      <td>{{ precio.precio }}</td>
      <td>{{ precio.fecha }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>


{%endblock%}