{% extends 'dashboard.html' %}


{%block content%}

<h1 class="mt-5">Informe del inventario</h1>


<table class="table mt-5">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nombre del producto</th>
        <th scope="col">Stock disponible</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Producto 1</td>
        <td>20</td>
        
      </tr>
      <tr>
        <th scope="row">ID</th>
        <td>Producto 2</td>
        <td>10</td>

      </tr>
      <tr>
        <th scope="row">ID</th>
        <td>Producto 3</td>
        <td>5</td>
      </tr>
    </tbody>
  </table>
{% endblock %}