{% extends 'dashboard.html' %}


{%block content%}

<h1 class="mt-5">Informe del inventario</h1>


<table class="table mt-5">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nombre del producto</th>
        <th scope="col">Stock disponible</th>
      </tr>
    </thead>
    {% for product in products %}
    <tbody>
      <tr>
        <th scope="row">{{ product.id }}</th>
        <td>{{ product.nombre }}</td>
        <td>{{ product.stock }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}