{% extends 'dashboard.html' %}

{%block content%}

<div class="container mt-5">
    <h1 class="mb-4">Lista de productos</h1>

    {% if alerta_stock %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{ alerta_stock }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}
    {% if alerta_vencimiento %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{ alerta_vencimiento }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}    
    
    <div class="row">
        {% for product in products %}
            <div class="col-md-4">
                <div class="card mb-4">
    
                    <img src="{{ product.imagen.url }}" style="object-fit:scale-down;" width="230" height="230">

                    <div class="card-body">
                        <h5 class="card-title">{{ product.id }}. {{ product.nombre }} </h5>
                        <p class="card-text">{{ product.descripcion }}</p>
                        <p class="card-text"><strong>Precio: ${{ product.precio }}</strong></p>
                        <p class="card-text"><strong>Stock: {{ product.stock }}</strong></p>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                              Movimientos
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                              <li> <a type="button" class="dropdown-item" href="{% url 'recepcion' product.id %}" >Recepción</a> </li>
                              <li><a class="dropdown-item"href="{% url 'envio' product.id %}">Envío</a></li>
                              <li><a class="dropdown-item" href="#">Modificación</a></li>
                            </ul>
                          </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

</div>


{% endblock %}